name: CICD GitHub Mounika workflow 
run-name: CICD Mounika GitHub workflow 
'on':
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - reopened
      - merged
      - closed
      - synchronize
    branches:
      - master
      - main
      - test03
jobs:
  jFrog:
   runs-on: ubuntu-latest
  
   steps:
   # This action checks out the code from the repository
   - name: Checkout Code 
     uses: actions/checkout@v2


   # This action sets up the JFrog CLI with the Artifactory URL and access token     
   - uses: jfrog/setup-jfrog-cli@v3
     env:
       JF_URL: "https://trialqmx3bo.jfrog.io"
       JF_ACCESS_TOKEN: "eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJaNUtpQ1M1RXNlSHFvUmJZdzhEbmIwV2haTjJIRC1lcEd6Y2JZb1VKdGE4In0.eyJzdWIiOiJqZmFjQDAxa2g4ZnBiM2I4ajd5MDl0cGpjMmQwM2pzL3VzZXJzL2F3YXN0aGkxIiwic2NwIjoiYXBwbGllZC1wZXJtaXNzaW9ucy9hZG1pbiIsImF1ZCI6IipAKiIsImlzcyI6ImpmZmVAMDFraDhmcGIzYjhqN3kwOXRwamMyZDAzanMiLCJleHAiOjE3NzE1NzY3MTAsImlhdCI6MTc3MDk2MTExMCwianRpIjoiNzM5YzdlMjQtNTA3OS00ZmMxLTg0ZTYtN2RhNTM4ZjdhNzE5IiwidGlkIjoiYTBrY3Fpcm56am43cyJ9.Helt06h6etsz4y0HDfC-TiQlWKzuJeymACnoEdLiexlIxbMnk5fshx8I7zCqSHTrnMEok6I4GesKZ1d_4Qhroyk_06pgSvRAMcNJuiBoF3g_5EYQL5kgWLmKoLQe6EyLhoj-94RmkhksNAJysKo_cf0y6nwW9MdSkXXk7eCQmXITAkRnKQCUTugdixrh34PDhDDeJOyL4e6mMGBhrBcdaRfPBwXJe-ra69Am7sX8Kj0g_rACBX1JfJmgvwhp8xoQcP1EMiPkEmrt_tEmlulKyG_65dfNRrQfAaGmennyvY6LN7OnhMkQEKsaUxd91iOzqsEnNZPPpMKQ8mrdl3tK0w"


   # This command adds a new server configuration to the JFrog CLI   
   - run: |
       export SERVER_ID="venkata7"
       jf c add $SERVER_ID --url="https://trialqmx3bo.jfrog.io" --access-token="eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJaNUtpQ1M1RXNlSHFvUmJZdzhEbmIwV2haTjJIRC1lcEd6Y2JZb1VKdGE4In0.eyJzdWIiOiJqZmFjQDAxa2g4ZnBiM2I4ajd5MDl0cGpjMmQwM2pzL3VzZXJzL2F3YXN0aGkxIiwic2NwIjoiYXBwbGllZC1wZXJtaXNzaW9ucy9hZG1pbiIsImF1ZCI6IipAKiIsImlzcyI6ImpmZmVAMDFraDhmcGIzYjhqN3kwOXRwamMyZDAzanMiLCJleHAiOjE3NzE1NzY3MTAsImlhdCI6MTc3MDk2MTExMCwianRpIjoiNzM5YzdlMjQtNTA3OS00ZmMxLTg0ZTYtN2RhNTM4ZjdhNzE5IiwidGlkIjoiYTBrY3Fpcm56am43cyJ9.Helt06h6etsz4y0HDfC-TiQlWKzuJeymACnoEdLiexlIxbMnk5fshx8I7zCqSHTrnMEok6I4GesKZ1d_4Qhroyk_06pgSvRAMcNJuiBoF3g_5EYQL5kgWLmKoLQe6EyLhoj-94RmkhksNAJysKo_cf0y6nwW9MdSkXXk7eCQmXITAkRnKQCUTugdixrh34PDhDDeJOyL4e6mMGBhrBcdaRfPBwXJe-ra69Am7sX8Kj0g_rACBX1JfJmgvwhp8xoQcP1EMiPkEmrt_tEmlulKyG_65dfNRrQfAaGmennyvY6LN7OnhMkQEKsaUxd91iOzqsEnNZPPpMKQ8mrdl3tK0w" --interactive=false

  # Upload the JFrog Artifact, in the below we are upload README.md artifact.
   - name: Run JFrog CLI Ping
     run: |
          export JFROG_CLI_HOME="/home/runner/work/jenkins-test/jenkins-test"
          jf rt u "README.md" "tf-trial/workspaces/jfrog-ws1/"
          # Collect environment variables for the build
          jf rt bce
          # Publish build info
          jf rt bp

   # Download the JFrog Artifact, in the below we are Downloading README.md artifact.
   - name: Download Artifact
     run: |
          jf rt dl tf-trial/workspaces/jfrog-ws1/README.md ./ 
          jf rt bp
  build:
    name: Build
    # needs: jFrog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: temurin
          cache: maven
      - name: Build with Maven
        run: mvn clean compile
  test:
    name: Test
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: ServiceNow DevOps Unit Test Results
        uses: ServiceNow/servicenow-devops-test-report@v6.0.0
        with:
          devops-integration-token: '${{ secrets.SN_DEVOPS_TOKEN }}'
          # devops-integration-user-name: '${{ secrets.SN_DEVOPS_USER }}'
          # devops-integration-user-password: '${{ secrets.SN_DEVOPS_PASSWORD }}'
          instance-url: '${{ secrets.SN_INSTANCE_URL }}'
          tool-id: '${{ secrets.SN_ORCHESTRATION_TOOL_ID }}'
          job-name: Test
          test-summary-name: Mona1 Test Summary
          context-github: '${{ toJSON(github) }}'
          xml-report-filename: testng.xml
  registerArtifact:
    name: RegisterArtifact
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: ServiceNow DevOps Register Artifact
        uses: ServiceNow/servicenow-devops-register-artifact@v5.1.0
        with:
          # devops-integration-user-name: '${{ secrets.SN_DEVOPS_USER }}'
          # devops-integration-user-password: '${{ secrets.SN_DEVOPS_PASSWORD }}'
          devops-integration-token: '${{ secrets.SN_DEVOPS_TOKEN }}'
          instance-url: '${{ secrets.SN_INSTANCE_URL }}'
          tool-id: '${{ secrets.SN_ORCHESTRATION_TOOL_ID }}'
          job-name: RegisterArtifact
          context-github: '${{ toJSON(github) }}'
          artifacts: >-
            [ { "name": "app-devops-cicd.jar", "version": "1.${{
            github.run_number }}", "semanticVersion": "1.${{ github.run_number
            }}.0", "repositoryName": "${{ github.repository }}" } ]
  sonarScan:
    name: Sonar Scan
    needs: registerArtifact
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
      - name: ServiceNow DevOps Sonar Scan Results
        uses: ServiceNow/servicenow-devops-sonar@v5.1.0
        with:
          instance-url: '${{ secrets.SN_INSTANCE_URL }}'
          devops-integration-token: '${{ secrets.SN_DEVOPS_TOKEN }}'
          # devops-integration-user-name: '${{ secrets.SN_DEVOPS_USER }}'
          # devops-integration-user-password: '${{ secrets.SN_DEVOPS_PASSWORD }}'
          tool-id: '${{ secrets.SN_ORCHESTRATION_TOOL_ID }}'
          context-github: '${{ toJSON(github) }}'
          job-name: Sonar Scan
          sonar-host-url: '${{ secrets.SONAR_URL }}'
          sonar-project-key: '${{ secrets.SONAR_PROJECT_KEY }}'

  # ServiceNowSecurityScanResults:
  #   # type of machine to run the job on
  #   runs-on: ubuntu-latest
  #   name: ServiceNow Security Scan Results
  #   needs: [sonarScan]
  #   steps:
  #     - name: ServiceNow DevOps Security Results
  #       uses: ServiceNow/servicenow-devops-security-result@v5.1.0
  #       with:
  #           # DevOps Integration Token of GitHub tool created in ServiceNow instance for token based authentication.
  #           devops-integration-token: ${{ secrets.SN_DEVOPS_TOKEN }}
  #           # devops-integration-user-name: '${{ secrets.SN_DEVOPS_USER }}'
  #           # devops-integration-user-password: '${{ secrets.SN_DEVOPS_PASSWORD }}'
  #           # ServiceNow Instance URL
  #           instance-url: ${{ secrets.SN_INSTANCE_URL }}
  #           # Orchestration Tool Id
  #           tool-id: ${{ secrets.SN_ORCHESTRATION_TOOL_ID }}
  #           # GitHub Context
  #           context-github: ${{ toJSON(github) }}
  #           # Display Name of the Job
  #           job-name: 'ServiceNow Security Scan Results'
  #           security-result-attributes: '{"scanner": "Veracode", "applicationName": "10kflaws-72"}'
  #           scanner: Scanning tool and is required e.g. Veracode.
  #           applicationName: Name of your Veracode application and is required. This attribute is applicable only for Veracode.
  #           buildVersion: Veracode Scan name /build version and is optional. This attribute is applicable only for Veracode.
  #           securityToolId: Security tool onboarded in ServiceNow (sys_id of the onboarded security tool) and is optional.       
  registerPackage:
    name: Register Package
    if: always()
    needs:
      - sonarScan
    runs-on: ubuntu-latest
    steps:
      - name: ServiceNow DevOps Register Package
        uses: ServiceNow/servicenow-devops-register-package@v5.1.0
        with:
        
          # devops-integration-user-name: '${{ secrets.SN_DEVOPS_USER }}'
          # devops-integration-user-password: '${{ secrets.SN_DEVOPS_PASSWORD }}'
          devops-integration-token: ${{ secrets.SN_DEVOPS_TOKEN }}
          instance-url: '${{ secrets.SN_INSTANCE_URL }}'
          tool-id: '${{ secrets.SN_ORCHESTRATION_TOOL_ID }}'
          context-github: '${{ toJSON(github) }}'
          artifacts: >-
            [ { "name": "app-devops-cicd.jar", "version": "1.${{
            github.run_number }}", "semanticVersion": "1.${{ github.run_number
            }}.0", "repositoryName": "${{ github.repository }}" } ]
          package-name: app-devops-change-velocity-cicd.war
          job-name: Register Package
  change:
    name: Change Request
    needs: registerPackage
    runs-on: ubuntu-latest
    steps:
      - name: ServiceNow DevOps Change Attributes
        uses: ServiceNow/servicenow-devops-change@v6.1.0
        with:
          # devops-integration-user-name: '${{ secrets.SN_DEVOPS_USER }}'
          # devops-integration-user-password: '${{ secrets.SN_DEVOPS_PASSWORD }}'
          devops-integration-token: '${{ secrets.SN_DEVOPS_TOKEN }}'
          instance-url: '${{ secrets.SN_INSTANCE_URL }}'
          tool-id: '${{ secrets.SN_ORCHESTRATION_TOOL_ID }}'
          context-github: '${{ toJSON(github) }}'
          job-name: Change Request
          change-request: >-
            {"autoCloseChange":true,"attributes":{"short_description":"Automated
            Software
            Deployments test","description":"Automated
            Software
            Deployment.","assignment_group":"a715cd759f2002002920bde8132e7018","chg_model":"007c4001c343101035ae3f52c1d3aeb2","implementation_plan":"Software
            update is tested and results can be found in Test Summaries
            Tab.","backout_plan":"When software fails in production, the
            previous software release will be re-deployed.","test_plan":"Testing
            if the software was successfully deployed."}}
          interval: '100'
          timeout: '3600'
          # "chg_model":"007c4001c343101035ae3f52c1d3aeb2",
  # getchange:
  #   needs: change
  #   runs-on: ubuntu-latest
  #   if: always()
  #   name: ServiceNow DevOps Get Change
  #   outputs:
  #     change-request-number: '${{ steps.get_change.outputs.change-request-number }}'
  #   steps:
  #     - name: ServiceNow DevOps Get Change
  #       uses: ServiceNow/servicenow-devops-get-change@v5.1.0
  #       id: get_change
  #       with:
  #         instance-url: '${{ secrets.SN_INSTANCE_URL }}'
  #         devops-integration-user-name: '${{ secrets.SN_DEVOPS_USER }}'
  #         devops-integration-user-password: '${{ secrets.SN_DEVOPS_PASSWORD }}'
  #         tool-id: '${{ secrets.SN_ORCHESTRATION_TOOL_ID }}'
  #         context-github: '${{ toJSON(github) }}'
  #         change-details: '{"build_number":"","pipeline_name":"","stage_name":"Change Request"}'
  #     - name: Output of ServiceNow DevOps Get Change
  #       run: >-
  #         echo 'Output of ServiceNow DevOps Get Change is ->
  #         change-request-number = ${{
  #         steps.get_change.outputs.change-request-number }}' >> $GITHUB_OUTPUT
  # updatechange:
  #   needs: getchange
  #   runs-on: ubuntu-latest
  #   name: ServiceNow DevOps Update Change
  #   if: always()
  #   steps:
  #     - name: ServiceNow DevOps Update Change
  #       uses: ServiceNow/servicenow-devops-update-change@v5.1.0
  #       id: update_change
  #       with:
  #         instance-url: '${{ secrets.SN_INSTANCE_URL }}'
  #         devops-integration-user-name: '${{ secrets.SN_DEVOPS_USER }}'
  #         devops-integration-user-password: '${{ secrets.SN_DEVOPS_PASSWORD }}'
  #         tool-id: '${{ secrets.SN_ORCHESTRATION_TOOL_ID }}'
  #         context-github: '${{ toJSON(github) }}'
  #         change-request-number: '${{needs.getchange.outputs.change-request-number}}'
  #         change-request-details: >-
  #           {"state":"3","close_code":"successful_issues","close_notes":"Test
  #           results successful with upadate change step"}
